<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent/child">Child</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent">Parent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent1/child1">Child1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent1">Parent1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent2/child2">Child2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent2">Parent2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/child3">Child3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/parent3">Parent3</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/comp1">Comp1</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
